html {
  cursor: url(/src/assets/icons8.png), auto;
}


a {
  box-shadow: inset 0 0 0 0 #a5b4fc;
  color: #a5b4fc;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
  box-shadow: inset 100px 0 0 0 #a5b4fc;
  color: white;
  cursor: url(/src/assets/icons8-finger.png), pointer;
}

button:hover {
  cursor: url(/src/assets/icons8-finger.png), pointer;
}

button:active {
  transform: scale(.9);
}

.container {
  width: 800px;
}

#hero {
  height: 100vh;
}

.rotate img {
  transition: 1s ease;
}

.rotate img:hover {
  -webkit-transform: rotateZ(-5deg) scale(.9);
  -ms-transform: rotateZ(-5deg) scale(.9);
  transform: rotateZ(-5deg) scale(.9);
  transition: 1s ease;
}

#credits {
  font-size: xx-small;
}

.social > a:hover {
  cursor: url(/src/assets/icons8-finger.png), pointer;
}

.hero-image {
  max-width: 400px;
  min-width: 200px;
  border-radius: 100%;
}

