html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #6441a5;
    background: -webkit-linear-gradient(to top, #2a0845, #6441A5);
    background-image: linear-gradient(160deg, #6441a5 0%, #005180 100%);
    overflow-x: hidden;
}