html {
    scroll-behavior: smooth;
}

body {
    /* height: 4000px; */
    /* background-image: linear-gradient(178deg, #392f5a 64%, #a480d0 100%); */
    /* background: #6441A5;
    background: -webkit-linear-gradient(to top, #2a0845, #6441A5);
    background: linear-gradient(to top, #2a0845, #6441A5); */
    background-color: #6441a5;
    background: -webkit-linear-gradient(to top, #2a0845, #6441A5);
    background-image: linear-gradient(160deg, #6441a5 0%, #005180 100%);

}